<div id="content">
	<h3>{{title}}</h3>
	<div>
		<img class="body_image" src="{{picture}}">
		<div>Location: {{location}}</div>
		<div>Director: {{director}}</div>
		<div>Year: {{release_year}}</div>
	</div>
</div>